Log_Http_Response_3.0.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Log Http Response with wait and notify and SFTP configured for uat </description>
    <groupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</groupId>
    <name>Log Http Response 3.0</name>
    <snippet>
        <processGroups>
            <id>cdf90448-1b07-3a10-0000-000000000000</id>
            <parentGroupId>2315cad6-8d4c-3fc6-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>cdf90448-1b07-3a10-aaaf-aa1ee7c980ca</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>136947e4-5dab-3bc5-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1</backPressureObjectThreshold>
                    <destination>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>c6635c53-fff2-3993-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Original</selectedRelationships>
                    <source>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>4a412165-ac87-3e79-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3807ff2c-6aa2-3c3c-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>cd939c57-ce6e-3828-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>6e83e628-cefe-343b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4ec12176-3e63-3836-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1</backPressureObjectThreshold>
                    <destination>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>4a412165-ac87-3e79-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>742659ba-015a-3241-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>51c34069-cbc3-3c83-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>3af450b6-aa4f-3648-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>d78d69ca-8fb7-39cc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5f3d67a2-394e-3279-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>6e83e628-cefe-343b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>original</selectedRelationships>
                    <source>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>3af450b6-aa4f-3648-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6cdbd871-31d2-319c-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>e585a40b-b86e-3a88-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>original</selectedRelationships>
                    <source>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>c6635c53-fff2-3993-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>805b5ea8-28f4-3e98-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>0c53d6e0-3cf8-3f09-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>6e83e628-cefe-343b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9ae2f7d8-c4c2-3c69-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>5528.484375</x>
                        <y>645.8967895507812</y>
                    </bends>
                    <bends>
                        <x>5528.484375</x>
                        <y>709.8967895507812</y>
                    </bends>
                    <destination>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>6e83e628-cefe-343b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>wait</selectedRelationships>
                    <source>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>6e83e628-cefe-343b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b139b99a-b04a-35b6-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>d78d69ca-8fb7-39cc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>d85c6ce8-70e6-39dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e887519e-5a61-3b1e-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>2</backPressureObjectThreshold>
                    <destination>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>742659ba-015a-3241-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>3af450b6-aa4f-3648-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f93d6e64-bcd1-32e7-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>1c81c3a9-3be1-3b2b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cdf90448-1b07-3a10-0000-000000000000</groupId>
                        <id>cd939c57-ce6e-3828-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>a8df55c1-5b23-3238-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-distributed-cache-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Server Hostname</key>
                            <value>
<name>Server Hostname</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Server Port</key>
                            <value>
<name>Server Port</name>
                            </value>
                        </entry>
                        <entry>
                            <key>SSL Context Service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
<name>SSL Context Service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Communications Timeout</key>
                            <value>
<name>Communications Timeout</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DistributedMapCacheClientService 3</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Server Hostname</key>
                            <value>localhost</value>
                        </entry>
                        <entry>
                            <key>Server Port</key>
                            <value>4557</value>
                        </entry>
                        <entry>
                            <key>SSL Context Service</key>
                        </entry>
                        <entry>
                            <key>Communications Timeout</key>
                            <value>30 secs</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
                </controllerServices>
                <processors>
                    <id>0c53d6e0-3cf8-3f09-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>4352.0</x>
                        <y>616.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Path</key>
<value>
    <name>Private Key Path</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
<value>
    <name>Private Key Passphrase</name>
</value>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>
    <name>Remote Path</name>
</value>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>
    <name>Create Directory</name>
</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>
    <name>Disable Directory Listing</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution</key>
<value>
    <name>Conflict Resolution</name>
</value>
                            </entry>
                            <entry>
<key>Reject Zero-Byte Files</key>
<value>
    <name>Reject Zero-Byte Files</name>
</value>
                            </entry>
                            <entry>
<key>Dot Rename</key>
<value>
    <name>Dot Rename</name>
</value>
                            </entry>
                            <entry>
<key>Temporary Filename</key>
<value>
    <name>Temporary Filename</name>
</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
<value>
    <name>Host Key File</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>
    <name>Strict Host Key Checking</name>
</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>
    <name>Send Keep Alive On Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>
    <name>Use Compression</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
<value>
    <name>Http Proxy Username</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
<value>
    <name>Http Proxy Password</name>
</value>
                            </entry>
                            <entry>
<key>Ciphers Allowed</key>
<value>
    <name>Ciphers Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Key Algorithms Allowed</key>
<value>
    <name>Key Algorithms Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Key Exchange Algorithms Allowed</key>
<value>
    <name>Key Exchange Algorithms Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Message Authentication Codes Allowed</key>
<value>
    <name>Message Authentication Codes Allowed</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hostname</key>
<value>${sftp.host}</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>${sftp.port}</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>${.sftp.username}</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Private Key Path</key>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>${.manual-slip.sftp.path}/archive</value>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>500</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Conflict Resolution</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>Reject Zero-Byte Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Dot Rename</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Temporary Filename</key>
                            </entry>
                            <entry>
<key>Host Key File</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>DIRECT</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
                            </entry>
                            <entry>
<key>Ciphers Allowed</key>
                            </entry>
                            <entry>
<key>Key Algorithms Allowed</key>
                            </entry>
                            <entry>
<key>Key Exchange Algorithms Allowed</key>
                            </entry>
                            <entry>
<key>Message Authentication Codes Allowed</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSFTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>reject</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutSFTP</type>
                </processors>
                <processors>
                    <id>1c81c3a9-3be1-3b2b-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>4368.0</x>
                        <y>896.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Path</key>
<value>
    <name>Private Key Path</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
<value>
    <name>Private Key Passphrase</name>
</value>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>
    <name>Remote Path</name>
</value>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>
    <name>Create Directory</name>
</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>
    <name>Disable Directory Listing</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution</key>
<value>
    <name>Conflict Resolution</name>
</value>
                            </entry>
                            <entry>
<key>Reject Zero-Byte Files</key>
<value>
    <name>Reject Zero-Byte Files</name>
</value>
                            </entry>
                            <entry>
<key>Dot Rename</key>
<value>
    <name>Dot Rename</name>
</value>
                            </entry>
                            <entry>
<key>Temporary Filename</key>
<value>
    <name>Temporary Filename</name>
</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
<value>
    <name>Host Key File</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>
    <name>Strict Host Key Checking</name>
</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>
    <name>Send Keep Alive On Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>
    <name>Use Compression</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
<value>
    <name>Http Proxy Username</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
<value>
    <name>Http Proxy Password</name>
</value>
                            </entry>
                            <entry>
<key>Ciphers Allowed</key>
<value>
    <name>Ciphers Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Key Algorithms Allowed</key>
<value>
    <name>Key Algorithms Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Key Exchange Algorithms Allowed</key>
<value>
    <name>Key Exchange Algorithms Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Message Authentication Codes Allowed</key>
<value>
    <name>Message Authentication Codes Allowed</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hostname</key>
<value>${sftp.host}</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>${sftp.port}</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>${.sftp.username}</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Private Key Path</key>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>${.manual-slip.sftp.path}/http_log</value>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>500</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Conflict Resolution</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>Reject Zero-Byte Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Dot Rename</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Temporary Filename</key>
                            </entry>
                            <entry>
<key>Host Key File</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>DIRECT</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
                            </entry>
                            <entry>
<key>Ciphers Allowed</key>
                            </entry>
                            <entry>
<key>Key Algorithms Allowed</key>
                            </entry>
                            <entry>
<key>Key Exchange Algorithms Allowed</key>
                            </entry>
                            <entry>
<key>Message Authentication Codes Allowed</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSFTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>reject</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutSFTP</type>
                </processors>
                <processors>
                    <id>3af450b6-aa4f-3648-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>5016.0</x>
                        <y>352.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>[*]</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>4a412165-ac87-3e79-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>5720.0</x>
                        <y>616.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
<value>
    <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
    <name>oauth2-access-token-provider</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <dependencies>
        <propertyName>Basic Authentication Username</propertyName>
    </dependencies>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>send-message-body</propertyName>
    </dependencies>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <dependencies>
        <propertyName>form-body-form-name</propertyName>
    </dependencies>
    <name>set-form-filename</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <dependencies>
        <propertyName>Put Response Body In Attribute</propertyName>
    </dependencies>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-etag</propertyName>
    </dependencies>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>
    <name>cookie-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>
    <name>flow-file-naming-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>https://reqres.in/api/users?page=2</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>response</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>RANDOM</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeHTTP</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Response</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>6e83e628-cefe-343b-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>5016.0</x>
                        <y>616.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>release-signal-id</key>
<value>
    <name>release-signal-id</name>
</value>
                            </entry>
                            <entry>
<key>target-signal-count</key>
<value>
    <name>target-signal-count</name>
</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
<value>
    <name>signal-counter-name</name>
</value>
                            </entry>
                            <entry>
<key>wait-buffer-count</key>
<value>
    <name>wait-buffer-count</name>
</value>
                            </entry>
                            <entry>
<key>releasable-flowfile-count</key>
<value>
    <name>releasable-flowfile-count</name>
</value>
                            </entry>
                            <entry>
<key>expiration-duration</key>
<value>
    <name>expiration-duration</name>
</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
    <name>distributed-cache-service</name>
</value>
                            </entry>
                            <entry>
<key>attribute-copy-mode</key>
<value>
    <name>attribute-copy-mode</name>
</value>
                            </entry>
                            <entry>
<key>wait-mode</key>
<value>
    <name>wait-mode</name>
</value>
                            </entry>
                            <entry>
<key>wait-penalty-duration</key>
<value>
    <name>wait-penalty-duration</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>release-signal-id</key>
<value>${fragment.identifier}</value>
                            </entry>
                            <entry>
<key>target-signal-count</key>
<value>${fragment.count}</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
                            </entry>
                            <entry>
<key>wait-buffer-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>releasable-flowfile-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>expiration-duration</key>
<value>10 min</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>a8df55c1-5b23-3238-0000-000000000000</value>
                            </entry>
                            <entry>
<key>attribute-copy-mode</key>
<value>keeporiginal</value>
                            </entry>
                            <entry>
<key>wait-mode</key>
<value>wait</value>
                            </entry>
                            <entry>
<key>wait-penalty-duration</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Wait</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>expired</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>wait</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.Wait</type>
                </processors>
                <processors>
                    <id>742659ba-015a-3241-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>5720.0</x>
                        <y>336.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>slip</key>
<value>
    <name>slip</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>slip</key>
<value>$.SlipNo</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>c6635c53-fff2-3993-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>5720.0</x>
                        <y>896.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>${slip};${file.owner};${filename};${response}</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>scripts/logger.sh</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>esc_output</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteStreamCommand</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>cd939c57-ce6e-3828-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>5016.0</x>
                        <y>896.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File to Fetch</key>
<value>
    <name>File to Fetch</name>
</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>
    <name>Completion Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
<value>
    <name>Move Destination Directory</name>
</value>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>
    <name>Move Conflict Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>
    <name>Log level when file not found</name>
</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>
    <name>Log level when permission denied</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File to Fetch</key>
<value>data/http_log/${filename}l</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>None</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>Rename</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>ERROR</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>ERROR</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>not.found</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>permission.denied</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchFile</type>
                </processors>
                <processors>
                    <id>d78d69ca-8fb7-39cc-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>4344.0</x>
                        <y>352.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Path</key>
<value>
    <name>Private Key Path</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
<value>
    <name>Private Key Passphrase</name>
</value>
                            </entry>
                            <entry>
<key>Remote File</key>
<value>
    <name>Remote File</name>
</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>
    <name>Completion Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
<value>
    <name>Move Destination Directory</name>
</value>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>
    <name>Create Directory</name>
</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>
    <name>Disable Directory Listing</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>
    <name>Send Keep Alive On Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
<value>
    <name>Host Key File</name>
</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>
    <name>Strict Host Key Checking</name>
</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>
    <name>Use Compression</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
<value>
    <name>Http Proxy Username</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
<value>
    <name>Http Proxy Password</name>
</value>
                            </entry>
                            <entry>
<key>fetchfiletransfer-notfound-loglevel</key>
<value>
    <name>fetchfiletransfer-notfound-loglevel</name>
</value>
                            </entry>
                            <entry>
<key>Ciphers Allowed</key>
<value>
    <name>Ciphers Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Key Algorithms Allowed</key>
<value>
    <name>Key Algorithms Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Key Exchange Algorithms Allowed</key>
<value>
    <name>Key Exchange Algorithms Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Message Authentication Codes Allowed</key>
<value>
    <name>Message Authentication Codes Allowed</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hostname</key>
<value>${sftp.host}</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>${sftp.port}</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>${.sftp.username}</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Private Key Path</key>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
                            </entry>
                            <entry>
<key>Remote File</key>
<value>${path}/${filename}</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>None</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>DIRECT</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
                            </entry>
                            <entry>
<key>fetchfiletransfer-notfound-loglevel</key>
<value>ERROR</value>
                            </entry>
                            <entry>
<key>Ciphers Allowed</key>
                            </entry>
                            <entry>
<key>Key Algorithms Allowed</key>
                            </entry>
                            <entry>
<key>Key Exchange Algorithms Allowed</key>
                            </entry>
                            <entry>
<key>Message Authentication Codes Allowed</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchSFTP</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>comms.failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>not.found</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>permission.denied</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchSFTP</type>
                </processors>
                <processors>
                    <id>d85c6ce8-70e6-39dc-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>3768.0</x>
                        <y>352.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>listing-strategy</key>
<value>
    <name>listing-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Path</key>
<value>
    <name>Private Key Path</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
<value>
    <name>Private Key Passphrase</name>
</value>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>
    <name>Remote Path</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>Distributed Cache Service</name>
</value>
                            </entry>
                            <entry>
<key>Search Recursively</key>
<value>
    <name>Search Recursively</name>
</value>
                            </entry>
                            <entry>
<key>follow-symlink</key>
<value>
    <name>follow-symlink</name>
</value>
                            </entry>
                            <entry>
<key>File Filter Regex</key>
<value>
    <name>File Filter Regex</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter Regex</key>
<value>
    <name>Path Filter Regex</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Dotted Files</key>
<value>
    <name>Ignore Dotted Files</name>
</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>
    <name>Strict Host Key Checking</name>
</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
<value>
    <name>Host Key File</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>
    <name>Send Keep Alive On Timeout</name>
</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>
    <name>target-system-timestamp-precision</name>
</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>
    <name>Use Compression</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
<value>
    <name>Http Proxy Username</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
<value>
    <name>Http Proxy Password</name>
</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>et-state-cache</name>
</value>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>
    <name>et-time-window</name>
</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>
    <name>et-initial-listing-target</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Ciphers Allowed</key>
<value>
    <name>Ciphers Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Key Algorithms Allowed</key>
<value>
    <name>Key Algorithms Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Key Exchange Algorithms Allowed</key>
<value>
    <name>Key Exchange Algorithms Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Message Authentication Codes Allowed</key>
<value>
    <name>Message Authentication Codes Allowed</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>listing-strategy</key>
<value>none</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>${sftp.host}</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>${sftp.port}</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>${.sftp.username}</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Private Key Path</key>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>${.manual-slip.sftp.path}</value>
                            </entry>
                            <entry>
<key>record-writer</key>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
                            </entry>
                            <entry>
<key>Search Recursively</key>
<value>false</value>
                            </entry>
                            <entry>
<key>follow-symlink</key>
<value>false</value>
                            </entry>
                            <entry>
<key>File Filter Regex</key>
                            </entry>
                            <entry>
<key>Path Filter Regex</key>
                            </entry>
                            <entry>
<key>Ignore Dotted Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>true</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>DIRECT</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
                            </entry>
                            <entry>
<key>et-state-cache</key>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>3 hours</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>all</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                            <entry>
<key>Ciphers Allowed</key>
                            </entry>
                            <entry>
<key>Key Algorithms Allowed</key>
                            </entry>
                            <entry>
<key>Key Exchange Algorithms Allowed</key>
                            </entry>
                            <entry>
<key>Message Authentication Codes Allowed</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListSFTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ListSFTP</type>
                </processors>
                <processors>
                    <id>e585a40b-b86e-3a88-0000-000000000000</id>
                    <parentGroupId>cdf90448-1b07-3a10-0000-000000000000</parentGroupId>
                    <position>
                        <x>5720.0</x>
                        <y>1104.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>release-signal-id</key>
<value>
    <name>release-signal-id</name>
</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
<value>
    <name>signal-counter-name</name>
</value>
                            </entry>
                            <entry>
<key>signal-counter-delta</key>
<value>
    <name>signal-counter-delta</name>
</value>
                            </entry>
                            <entry>
<key>signal-buffer-count</key>
<value>
    <name>signal-buffer-count</name>
</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
    <name>distributed-cache-service</name>
</value>
                            </entry>
                            <entry>
<key>attribute-cache-regex</key>
<value>
    <name>attribute-cache-regex</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>release-signal-id</key>
<value>${fragment.identifier}</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
<value>default</value>
                            </entry>
                            <entry>
<key>signal-counter-delta</key>
<value>1</value>
                            </entry>
                            <entry>
<key>signal-buffer-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>a8df55c1-5b23-3238-0000-000000000000</value>
                            </entry>
                            <entry>
<key>attribute-cache-regex</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Notify</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.Notify</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Log Http Response JSON</name>
            <variables>
                <entry>
                    <key>.sftp.password</key>
                    <value></value>
                </entry>
                <entry>
                    <key>.sftp.username</key>
                    <value></value>
                </entry>
                <entry>
                    <key>sftp.port</key>
                    <value></value>
                </entry>
                <entry>
                    <key>.manual-slip.sftp.path</key>
                    <value></value>
                </entry>
                <entry>
                    <key>sftp.host</key>
                    <value></value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>07/11/2023 19:35:08 IST</timestamp>
</template>
