nifi-airflow-1.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<flowController encoding-version="1.4">
  <maxTimerDrivenThreadCount>10</maxTimerDrivenThreadCount>
  <maxEventDrivenThreadCount>1</maxEventDrivenThreadCount>
  <registries/>
  <parameterContexts/>
  <rootGroup>
    <id>82c0749c-0182-1000-1c6b-68a78ee7ab4a</id>
    <name>NiFi Flow</name>
    <position x="0.0" y="0.0"/>
    <comment/>
    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
    <processor>
      <id>c50f972c-0182-1000-969d-790e7c633ffc</id>
      <name>InvokeHTTP</name>
      <position x="-784.0" y="8.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>HTTP Method</name>
        <value>POST</value>
      </property>
      <property>
        <name>Remote URL</name>
        <value>http://localhost:8084/api/v1/dags/api_dag/dagRuns</value>
      </property>
      <property>
        <name>disable-http2</name>
        <value>False</value>
      </property>
      <property>
        <name>SSL Context Service</name>
      </property>
      <property>
        <name>Connection Timeout</name>
        <value>5 secs</value>
      </property>
      <property>
        <name>Read Timeout</name>
        <value>15 secs</value>
      </property>
      <property>
        <name>idle-timeout</name>
        <value>5 mins</value>
      </property>
      <property>
        <name>max-idle-connections</name>
        <value>5</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Port</name>
      </property>
      <property>
        <name>Proxy Type</name>
        <value>http</value>
      </property>
      <property>
        <name>invokehttp-proxy-user</name>
      </property>
      <property>
        <name>invokehttp-proxy-password</name>
      </property>
      <property>
        <name>oauth2-access-token-provider</name>
      </property>
      <property>
        <name>Basic Authentication Username</name>
      </property>
      <property>
        <name>Basic Authentication Password</name>
      </property>
      <property>
        <name>Digest Authentication</name>
        <value>false</value>
      </property>
      <property>
        <name>Penalize on "No Retry"</name>
        <value>false</value>
      </property>
      <property>
        <name>send-message-body</name>
        <value>true</value>
      </property>
      <property>
        <name>form-body-form-name</name>
      </property>
      <property>
        <name>set-form-filename</name>
        <value>true</value>
      </property>
      <property>
        <name>Use Chunked Encoding</name>
        <value>false</value>
      </property>
      <property>
        <name>Content-Encoding</name>
        <value>DISABLED</value>
      </property>
      <property>
        <name>Content-Type</name>
        <value>application/json</value>
      </property>
      <property>
        <name>Include Date Header</name>
        <value>True</value>
      </property>
      <property>
        <name>Attributes to Send</name>
      </property>
      <property>
        <name>Useragent</name>
      </property>
      <property>
        <name>Put Response Body In Attribute</name>
      </property>
      <property>
        <name>Max Length To Put In Attribute</name>
        <value>256</value>
      </property>
      <property>
        <name>ignore-response-content</name>
        <value>false</value>
      </property>
      <property>
        <name>use-etag</name>
        <value>false</value>
      </property>
      <property>
        <name>etag-max-cache-size</name>
        <value>10MB</value>
      </property>
      <property>
        <name>cookie-strategy</name>
        <value>DISABLED</value>
      </property>
      <property>
        <name>Always Output Response</name>
        <value>false</value>
      </property>
      <property>
        <name>flow-file-naming-strategy</name>
        <value>RANDOM</value>
      </property>
      <property>
        <name>Add Response Headers to Request</name>
        <value>false</value>
      </property>
      <property>
        <name>Follow Redirects</name>
        <value>True</value>
      </property>
      <property>
        <name>Authorization</name>
        <value>Basic </value>
      </property>
      <autoTerminatedRelationship>Original</autoTerminatedRelationship>
      <autoTerminatedRelationship>Failure</autoTerminatedRelationship>
      <autoTerminatedRelationship>Retry</autoTerminatedRelationship>
      <autoTerminatedRelationship>No Retry</autoTerminatedRelationship>
      <autoTerminatedRelationship>Response</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>c50f972b-0182-1000-41ec-aba4b95938a1</id>
      <name>PutFile</name>
      <position x="-288.0" y="-480.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.PutFile</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>Directory</name>
        <value>data</value>
      </property>
      <property>
        <name>Conflict Resolution Strategy</name>
        <value>replace</value>
      </property>
      <property>
        <name>Create Missing Directories</name>
        <value>true</value>
      </property>
      <property>
        <name>Maximum File Count</name>
      </property>
      <property>
        <name>Last Modified Time</name>
      </property>
      <property>
        <name>Permissions</name>
      </property>
      <property>
        <name>Owner</name>
      </property>
      <property>
        <name>Group</name>
      </property>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>a6ebbf3e-0182-1000-fbd0-425007d5dcea</id>
      <versionedComponentId>3cbc1147-3460-3497-a17f-967fd85d55af</versionedComponentId>
      <name>BodyToPost</name>
      <position x="-1568.0" y="-840.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.GenerateFlowFile</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>PRIMARY</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>File Size</name>
        <value>0B</value>
      </property>
      <property>
        <name>Batch Size</name>
        <value>1</value>
      </property>
      <property>
        <name>Data Format</name>
        <value>Text</value>
      </property>
      <property>
        <name>Unique FlowFiles</name>
        <value>false</value>
      </property>
      <property>
        <name>generate-ff-custom-text</name>
        <value>{}</value>
      </property>
      <property>
        <name>character-set</name>
        <value>UTF-8</value>
      </property>
      <property>
        <name>mime-type</name>
      </property>
    </processor>
    <processor>
      <id>a6d9e02c-0182-1000-569b-9ebb130eb6eb</id>
      <versionedComponentId>853a0ca6-3ea4-3f3f-847e-03a2a6d1b6b7</versionedComponentId>
      <name>BodyToPost</name>
      <position x="1264.0" y="-680.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.GenerateFlowFile</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>PRIMARY</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>File Size</name>
        <value>0B</value>
      </property>
      <property>
        <name>Batch Size</name>
        <value>1</value>
      </property>
      <property>
        <name>Data Format</name>
        <value>Text</value>
      </property>
      <property>
        <name>Unique FlowFiles</name>
        <value>false</value>
      </property>
      <property>
        <name>generate-ff-custom-text</name>
        <value>{}</value>
      </property>
      <property>
        <name>character-set</name>
        <value>UTF-8</value>
      </property>
      <property>
        <name>mime-type</name>
      </property>
    </processor>
    <processor>
      <id>a6a04334-0182-1000-ba09-63d242e172c1</id>
      <versionedComponentId>ff16fb72-f823-32d5-aeee-cc8c1bad79c8</versionedComponentId>
      <name>PutFile</name>
      <position x="1352.0" y="144.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.PutFile</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>Directory</name>
        <value>data</value>
      </property>
      <property>
        <name>Conflict Resolution Strategy</name>
        <value>replace</value>
      </property>
      <property>
        <name>Create Missing Directories</name>
        <value>true</value>
      </property>
      <property>
        <name>Maximum File Count</name>
      </property>
      <property>
        <name>Last Modified Time</name>
      </property>
      <property>
        <name>Permissions</name>
      </property>
      <property>
        <name>Owner</name>
      </property>
      <property>
        <name>Group</name>
      </property>
      <autoTerminatedRelationship>success</autoTerminatedRelationship>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>a6a04333-0182-1000-07d5-2c79652c234d</id>
      <versionedComponentId>8d6be1cf-1040-3ac0-b529-0ceb57fa40f5</versionedComponentId>
      <name>GetRequestToAirflow</name>
      <position x="1344.0" y="-152.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>60 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>HTTP Method</name>
        <value>GET</value>
      </property>
      <property>
        <name>Remote URL</name>
        <value>http://localhost:8084/api/v1/dags/update_rulesDaily/dagRuns/manual__2022-08-08T06:10:30.361267+00:00</value>
      </property>
      <property>
        <name>disable-http2</name>
        <value>False</value>
      </property>
      <property>
        <name>SSL Context Service</name>
      </property>
      <property>
        <name>Connection Timeout</name>
        <value>5 secs</value>
      </property>
      <property>
        <name>Read Timeout</name>
        <value>15 secs</value>
      </property>
      <property>
        <name>idle-timeout</name>
        <value>5 mins</value>
      </property>
      <property>
        <name>max-idle-connections</name>
        <value>5</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Port</name>
      </property>
      <property>
        <name>Proxy Type</name>
        <value>http</value>
      </property>
      <property>
        <name>invokehttp-proxy-user</name>
      </property>
      <property>
        <name>invokehttp-proxy-password</name>
      </property>
      <property>
        <name>oauth2-access-token-provider</name>
      </property>
      <property>
        <name>Basic Authentication Username</name>
        <value>admin</value>
      </property>
      <property>
        <name>Basic Authentication Password</name>
        <value></value>
      </property>
      <property>
        <name>Digest Authentication</name>
        <value>false</value>
      </property>
      <property>
        <name>Penalize on "No Retry"</name>
        <value>false</value>
      </property>
      <property>
        <name>send-message-body</name>
        <value>true</value>
      </property>
      <property>
        <name>form-body-form-name</name>
      </property>
      <property>
        <name>set-form-filename</name>
        <value>true</value>
      </property>
      <property>
        <name>Use Chunked Encoding</name>
        <value>false</value>
      </property>
      <property>
        <name>Content-Encoding</name>
        <value>DISABLED</value>
      </property>
      <property>
        <name>Content-Type</name>
        <value>application/json</value>
      </property>
      <property>
        <name>Include Date Header</name>
        <value>True</value>
      </property>
      <property>
        <name>Attributes to Send</name>
      </property>
      <property>
        <name>Useragent</name>
      </property>
      <property>
        <name>Put Response Body In Attribute</name>
      </property>
      <property>
        <name>Max Length To Put In Attribute</name>
        <value>256</value>
      </property>
      <property>
        <name>ignore-response-content</name>
        <value>false</value>
      </property>
      <property>
        <name>use-etag</name>
        <value>false</value>
      </property>
      <property>
        <name>etag-max-cache-size</name>
        <value>10MB</value>
      </property>
      <property>
        <name>cookie-strategy</name>
        <value>DISABLED</value>
      </property>
      <property>
        <name>Always Output Response</name>
        <value>false</value>
      </property>
      <property>
        <name>flow-file-naming-strategy</name>
        <value>RANDOM</value>
      </property>
      <property>
        <name>Add Response Headers to Request</name>
        <value>false</value>
      </property>
      <property>
        <name>Follow Redirects</name>
        <value>True</value>
      </property>
    </processor>
    <processor>
      <id>a521f590-0182-1000-809d-fa7bc10d35d5</id>
      <versionedComponentId>d07595e2-05a2-3861-be2f-dc9ff2992566</versionedComponentId>
      <name>PutFile</name>
      <position x="688.0" y="-488.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.PutFile</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>Directory</name>
        <value>data</value>
      </property>
      <property>
        <name>Conflict Resolution Strategy</name>
        <value>replace</value>
      </property>
      <property>
        <name>Create Missing Directories</name>
        <value>true</value>
      </property>
      <property>
        <name>Maximum File Count</name>
      </property>
      <property>
        <name>Last Modified Time</name>
      </property>
      <property>
        <name>Permissions</name>
      </property>
      <property>
        <name>Owner</name>
      </property>
      <property>
        <name>Group</name>
      </property>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>c50f972a-0182-1000-bae4-b45b77a28013</id>
      <name>GetDataFromApi</name>
      <position x="-304.0" y="-704.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>60 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>HTTP Method</name>
        <value>GET</value>
      </property>
      <property>
        <name>Remote URL</name>
        <value>http://gorest.co.in/public/v2/posts</value>
      </property>
      <property>
        <name>disable-http2</name>
        <value>False</value>
      </property>
      <property>
        <name>SSL Context Service</name>
      </property>
      <property>
        <name>Connection Timeout</name>
        <value>5 secs</value>
      </property>
      <property>
        <name>Read Timeout</name>
        <value>15 secs</value>
      </property>
      <property>
        <name>idle-timeout</name>
        <value>5 mins</value>
      </property>
      <property>
        <name>max-idle-connections</name>
        <value>5</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Port</name>
      </property>
      <property>
        <name>Proxy Type</name>
        <value>http</value>
      </property>
      <property>
        <name>invokehttp-proxy-user</name>
      </property>
      <property>
        <name>invokehttp-proxy-password</name>
      </property>
      <property>
        <name>oauth2-access-token-provider</name>
      </property>
      <property>
        <name>Basic Authentication Username</name>
      </property>
      <property>
        <name>Basic Authentication Password</name>
      </property>
      <property>
        <name>Digest Authentication</name>
        <value>false</value>
      </property>
      <property>
        <name>Penalize on "No Retry"</name>
        <value>false</value>
      </property>
      <property>
        <name>send-message-body</name>
        <value>true</value>
      </property>
      <property>
        <name>form-body-form-name</name>
      </property>
      <property>
        <name>set-form-filename</name>
        <value>true</value>
      </property>
      <property>
        <name>Use Chunked Encoding</name>
        <value>false</value>
      </property>
      <property>
        <name>Content-Encoding</name>
        <value>DISABLED</value>
      </property>
      <property>
        <name>Content-Type</name>
        <value>${mime.type}</value>
      </property>
      <property>
        <name>Include Date Header</name>
        <value>True</value>
      </property>
      <property>
        <name>Attributes to Send</name>
      </property>
      <property>
        <name>Useragent</name>
      </property>
      <property>
        <name>Put Response Body In Attribute</name>
      </property>
      <property>
        <name>Max Length To Put In Attribute</name>
        <value>256</value>
      </property>
      <property>
        <name>ignore-response-content</name>
        <value>false</value>
      </property>
      <property>
        <name>use-etag</name>
        <value>false</value>
      </property>
      <property>
        <name>etag-max-cache-size</name>
        <value>10MB</value>
      </property>
      <property>
        <name>cookie-strategy</name>
        <value>DISABLED</value>
      </property>
      <property>
        <name>Always Output Response</name>
        <value>false</value>
      </property>
      <property>
        <name>flow-file-naming-strategy</name>
        <value>RANDOM</value>
      </property>
      <property>
        <name>Add Response Headers to Request</name>
        <value>false</value>
      </property>
      <property>
        <name>Follow Redirects</name>
        <value>True</value>
      </property>
      <property>
        <name>mime.type</name>
        <value>application/json</value>
      </property>
      <autoTerminatedRelationship>Original</autoTerminatedRelationship>
      <autoTerminatedRelationship>Failure</autoTerminatedRelationship>
      <autoTerminatedRelationship>Retry</autoTerminatedRelationship>
      <autoTerminatedRelationship>No Retry</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>a521714d-0182-1000-5cc2-7aafb9c5afda</id>
      <versionedComponentId>0455f771-9e3a-34a9-8fd7-68bb33c8d705</versionedComponentId>
      <name>GetDataFromApi</name>
      <position x="672.0" y="-712.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>60 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>HTTP Method</name>
        <value>GET</value>
      </property>
      <property>
        <name>Remote URL</name>
        <value>http://gorest.co.in/public/v2/posts</value>
      </property>
      <property>
        <name>disable-http2</name>
        <value>False</value>
      </property>
      <property>
        <name>SSL Context Service</name>
      </property>
      <property>
        <name>Connection Timeout</name>
        <value>5 secs</value>
      </property>
      <property>
        <name>Read Timeout</name>
        <value>15 secs</value>
      </property>
      <property>
        <name>idle-timeout</name>
        <value>5 mins</value>
      </property>
      <property>
        <name>max-idle-connections</name>
        <value>5</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Port</name>
      </property>
      <property>
        <name>Proxy Type</name>
        <value>http</value>
      </property>
      <property>
        <name>invokehttp-proxy-user</name>
      </property>
      <property>
        <name>invokehttp-proxy-password</name>
      </property>
      <property>
        <name>oauth2-access-token-provider</name>
      </property>
      <property>
        <name>Basic Authentication Username</name>
      </property>
      <property>
        <name>Basic Authentication Password</name>
      </property>
      <property>
        <name>Digest Authentication</name>
        <value>false</value>
      </property>
      <property>
        <name>Penalize on "No Retry"</name>
        <value>false</value>
      </property>
      <property>
        <name>send-message-body</name>
        <value>true</value>
      </property>
      <property>
        <name>form-body-form-name</name>
      </property>
      <property>
        <name>set-form-filename</name>
        <value>true</value>
      </property>
      <property>
        <name>Use Chunked Encoding</name>
        <value>false</value>
      </property>
      <property>
        <name>Content-Encoding</name>
        <value>DISABLED</value>
      </property>
      <property>
        <name>Content-Type</name>
        <value>${mime.type}</value>
      </property>
      <property>
        <name>Include Date Header</name>
        <value>True</value>
      </property>
      <property>
        <name>Attributes to Send</name>
      </property>
      <property>
        <name>Useragent</name>
      </property>
      <property>
        <name>Put Response Body In Attribute</name>
      </property>
      <property>
        <name>Max Length To Put In Attribute</name>
        <value>256</value>
      </property>
      <property>
        <name>ignore-response-content</name>
        <value>false</value>
      </property>
      <property>
        <name>use-etag</name>
        <value>false</value>
      </property>
      <property>
        <name>etag-max-cache-size</name>
        <value>10MB</value>
      </property>
      <property>
        <name>cookie-strategy</name>
        <value>DISABLED</value>
      </property>
      <property>
        <name>Always Output Response</name>
        <value>false</value>
      </property>
      <property>
        <name>flow-file-naming-strategy</name>
        <value>RANDOM</value>
      </property>
      <property>
        <name>Add Response Headers to Request</name>
        <value>false</value>
      </property>
      <property>
        <name>Follow Redirects</name>
        <value>True</value>
      </property>
      <property>
        <name>mime.type</name>
        <value>application/json</value>
      </property>
      <autoTerminatedRelationship>Original</autoTerminatedRelationship>
      <autoTerminatedRelationship>Failure</autoTerminatedRelationship>
      <autoTerminatedRelationship>Retry</autoTerminatedRelationship>
      <autoTerminatedRelationship>No Retry</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>c426da00-0182-1000-4d5a-cfb6af13c82d</id>
      <versionedComponentId>c2851557-c938-3b14-97f4-995e524ad48f</versionedComponentId>
      <name>InvokeHTTP</name>
      <position x="192.0" y="0.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>HTTP Method</name>
        <value>POST</value>
      </property>
      <property>
        <name>Remote URL</name>
        <value>http://localhost:8084/api/v1/dags/api_dag/dagRuns</value>
      </property>
      <property>
        <name>disable-http2</name>
        <value>False</value>
      </property>
      <property>
        <name>SSL Context Service</name>
      </property>
      <property>
        <name>Connection Timeout</name>
        <value>5 secs</value>
      </property>
      <property>
        <name>Read Timeout</name>
        <value>15 secs</value>
      </property>
      <property>
        <name>idle-timeout</name>
        <value>5 mins</value>
      </property>
      <property>
        <name>max-idle-connections</name>
        <value>5</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Port</name>
      </property>
      <property>
        <name>Proxy Type</name>
        <value>http</value>
      </property>
      <property>
        <name>invokehttp-proxy-user</name>
      </property>
      <property>
        <name>invokehttp-proxy-password</name>
      </property>
      <property>
        <name>oauth2-access-token-provider</name>
      </property>
      <property>
        <name>Basic Authentication Username</name>
      </property>
      <property>
        <name>Basic Authentication Password</name>
      </property>
      <property>
        <name>Digest Authentication</name>
        <value>false</value>
      </property>
      <property>
        <name>Penalize on "No Retry"</name>
        <value>false</value>
      </property>
      <property>
        <name>send-message-body</name>
        <value>true</value>
      </property>
      <property>
        <name>form-body-form-name</name>
      </property>
      <property>
        <name>set-form-filename</name>
        <value>true</value>
      </property>
      <property>
        <name>Use Chunked Encoding</name>
        <value>false</value>
      </property>
      <property>
        <name>Content-Encoding</name>
        <value>DISABLED</value>
      </property>
      <property>
        <name>Content-Type</name>
        <value>application/json</value>
      </property>
      <property>
        <name>Include Date Header</name>
        <value>True</value>
      </property>
      <property>
        <name>Attributes to Send</name>
      </property>
      <property>
        <name>Useragent</name>
      </property>
      <property>
        <name>Put Response Body In Attribute</name>
      </property>
      <property>
        <name>Max Length To Put In Attribute</name>
        <value>256</value>
      </property>
      <property>
        <name>ignore-response-content</name>
        <value>false</value>
      </property>
      <property>
        <name>use-etag</name>
        <value>false</value>
      </property>
      <property>
        <name>etag-max-cache-size</name>
        <value>10MB</value>
      </property>
      <property>
        <name>cookie-strategy</name>
        <value>DISABLED</value>
      </property>
      <property>
        <name>Always Output Response</name>
        <value>false</value>
      </property>
      <property>
        <name>flow-file-naming-strategy</name>
        <value>RANDOM</value>
      </property>
      <property>
        <name>Add Response Headers to Request</name>
        <value>false</value>
      </property>
      <property>
        <name>Follow Redirects</name>
        <value>True</value>
      </property>
      <property>
        <name>Authorization</name>
        <value>Basic </value>
      </property>
      <autoTerminatedRelationship>Original</autoTerminatedRelationship>
      <autoTerminatedRelationship>Failure</autoTerminatedRelationship>
      <autoTerminatedRelationship>Retry</autoTerminatedRelationship>
      <autoTerminatedRelationship>No Retry</autoTerminatedRelationship>
      <autoTerminatedRelationship>Response</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>a6e5e0fd-0182-1000-72c7-36cae6d4d81a</id>
      <versionedComponentId>513ff736-36ef-3a0f-9c7e-9428d2267dfa</versionedComponentId>
      <name>PostHTTP</name>
      <position x="1280.0" y="-384.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.PostHTTP</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>URL</name>
        <value>http://localhost:8084/api/v1/dags/api_dag/dagRuns</value>
      </property>
      <property>
        <name>Max Batch Size</name>
        <value>100 MB</value>
      </property>
      <property>
        <name>Max Data to Post per Second</name>
      </property>
      <property>
        <name>SSL Context Service</name>
      </property>
      <property>
        <name>Username</name>
        <value>admin</value>
      </property>
      <property>
        <name>Password</name>
        <value>enc{ebd90710356983fef99dd5efbe2df93631799b3b984c16a35f462935a9b684669fa0c6b51a971bfcff46ea89c0f0d24d}</value>
      </property>
      <property>
        <name>Send as FlowFile</name>
        <value>false</value>
      </property>
      <property>
        <name>Use Chunked Encoding</name>
        <value>false</value>
      </property>
      <property>
        <name>Compression Level</name>
        <value>0</value>
      </property>
      <property>
        <name>Connection Timeout</name>
        <value>30 sec</value>
      </property>
      <property>
        <name>Data Timeout</name>
        <value>30 sec</value>
      </property>
      <property>
        <name>Attributes to Send as HTTP Headers (Regex)</name>
      </property>
      <property>
        <name>User Agent</name>
        <value>Apache-HttpClient/4.5.13 (Java/1.8.0_292)</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Port</name>
      </property>
      <property>
        <name>Content-Type</name>
        <value>${mime.type}</value>
      </property>
      <autoTerminatedRelationship>success</autoTerminatedRelationship>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>c4f4384c-0182-1000-2f3f-b8df69e0b900</id>
      <name>PutFile</name>
      <position x="-1936.0" y="-72.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.PutFile</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>Directory</name>
        <value>data</value>
      </property>
      <property>
        <name>Conflict Resolution Strategy</name>
        <value>replace</value>
      </property>
      <property>
        <name>Create Missing Directories</name>
        <value>true</value>
      </property>
      <property>
        <name>Maximum File Count</name>
      </property>
      <property>
        <name>Last Modified Time</name>
      </property>
      <property>
        <name>Permissions</name>
      </property>
      <property>
        <name>Owner</name>
      </property>
      <property>
        <name>Group</name>
      </property>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>c45aaf13-0182-1000-f733-325aea563d91</id>
      <versionedComponentId>fa709689-efe6-3907-9216-c1559d8ef9b2</versionedComponentId>
      <name>PutFile</name>
      <position x="-1512.0" y="-304.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.PutFile</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>Directory</name>
        <value>data</value>
      </property>
      <property>
        <name>Conflict Resolution Strategy</name>
        <value>replace</value>
      </property>
      <property>
        <name>Create Missing Directories</name>
        <value>true</value>
      </property>
      <property>
        <name>Maximum File Count</name>
      </property>
      <property>
        <name>Last Modified Time</name>
      </property>
      <property>
        <name>Permissions</name>
      </property>
      <property>
        <name>Owner</name>
      </property>
      <property>
        <name>Group</name>
      </property>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>c4f96358-0182-1000-de80-f3bc74304af7</id>
      <name>ReplaceText</name>
      <position x="688.0" y="-224.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.ReplaceText</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>Regular Expression</name>
        <value>^(.*)$</value>
      </property>
      <property>
        <name>Replacement Value</name>
        <value>{}</value>
      </property>
      <property>
        <name>Character Set</name>
        <value>UTF-8</value>
      </property>
      <property>
        <name>Maximum Buffer Size</name>
        <value>1 MB</value>
      </property>
      <property>
        <name>Replacement Strategy</name>
        <value>Always Replace</value>
      </property>
      <property>
        <name>Evaluation Mode</name>
        <value>Entire text</value>
      </property>
      <property>
        <name>Line-by-Line Evaluation Mode</name>
        <value>First-Line</value>
      </property>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>c4786594-0182-1000-50b4-3c8ac74306f1</id>
      <versionedComponentId>06380a4f-1a73-33a3-847b-3a44e5b97efd</versionedComponentId>
      <name>PutFile</name>
      <position x="688.0" y="0.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.PutFile</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>Directory</name>
        <value>data</value>
      </property>
      <property>
        <name>Conflict Resolution Strategy</name>
        <value>replace</value>
      </property>
      <property>
        <name>Create Missing Directories</name>
        <value>true</value>
      </property>
      <property>
        <name>Maximum File Count</name>
      </property>
      <property>
        <name>Last Modified Time</name>
      </property>
      <property>
        <name>Permissions</name>
      </property>
      <property>
        <name>Owner</name>
      </property>
      <property>
        <name>Group</name>
      </property>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>a6ebec3a-0182-1000-ea0e-b97a3309bd2f</id>
      <versionedComponentId>ec754b0b-7bf1-30ed-b118-c741df8e48a6</versionedComponentId>
      <name>InvokeHTTP</name>
      <position x="-1968.0" y="-544.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>HTTP Method</name>
        <value>POST</value>
      </property>
      <property>
        <name>Remote URL</name>
        <value>http://localhost:8084/api/v1/dags/api_dag/dagRuns</value>
      </property>
      <property>
        <name>disable-http2</name>
        <value>False</value>
      </property>
      <property>
        <name>SSL Context Service</name>
      </property>
      <property>
        <name>Connection Timeout</name>
        <value>5 secs</value>
      </property>
      <property>
        <name>Read Timeout</name>
        <value>15 secs</value>
      </property>
      <property>
        <name>idle-timeout</name>
        <value>5 mins</value>
      </property>
      <property>
        <name>max-idle-connections</name>
        <value>5</value>
      </property>
      <property>
        <name>proxy-configuration-service</name>
      </property>
      <property>
        <name>Proxy Host</name>
      </property>
      <property>
        <name>Proxy Port</name>
      </property>
      <property>
        <name>Proxy Type</name>
        <value>http</value>
      </property>
      <property>
        <name>invokehttp-proxy-user</name>
      </property>
      <property>
        <name>invokehttp-proxy-password</name>
      </property>
      <property>
        <name>oauth2-access-token-provider</name>
      </property>
      <property>
        <name>Basic Authentication Username</name>
      </property>
      <property>
        <name>Basic Authentication Password</name>
      </property>
      <property>
        <name>Digest Authentication</name>
        <value>false</value>
      </property>
      <property>
        <name>Penalize on "No Retry"</name>
        <value>false</value>
      </property>
      <property>
        <name>send-message-body</name>
        <value>true</value>
      </property>
      <property>
        <name>form-body-form-name</name>
      </property>
      <property>
        <name>set-form-filename</name>
        <value>true</value>
      </property>
      <property>
        <name>Use Chunked Encoding</name>
        <value>false</value>
      </property>
      <property>
        <name>Content-Encoding</name>
        <value>DISABLED</value>
      </property>
      <property>
        <name>Content-Type</name>
        <value>application/json</value>
      </property>
      <property>
        <name>Include Date Header</name>
        <value>True</value>
      </property>
      <property>
        <name>Attributes to Send</name>
      </property>
      <property>
        <name>Useragent</name>
      </property>
      <property>
        <name>Put Response Body In Attribute</name>
      </property>
      <property>
        <name>Max Length To Put In Attribute</name>
        <value>256</value>
      </property>
      <property>
        <name>ignore-response-content</name>
        <value>false</value>
      </property>
      <property>
        <name>use-etag</name>
        <value>false</value>
      </property>
      <property>
        <name>etag-max-cache-size</name>
        <value>10MB</value>
      </property>
      <property>
        <name>cookie-strategy</name>
        <value>DISABLED</value>
      </property>
      <property>
        <name>Always Output Response</name>
        <value>false</value>
      </property>
      <property>
        <name>flow-file-naming-strategy</name>
        <value>RANDOM</value>
      </property>
      <property>
        <name>Add Response Headers to Request</name>
        <value>false</value>
      </property>
      <property>
        <name>Follow Redirects</name>
        <value>True</value>
      </property>
      <property>
        <name>Authorization</name>
        <value>Basic </value>
      </property>
      <autoTerminatedRelationship>Original</autoTerminatedRelationship>
      <autoTerminatedRelationship>Failure</autoTerminatedRelationship>
      <autoTerminatedRelationship>Retry</autoTerminatedRelationship>
      <autoTerminatedRelationship>No Retry</autoTerminatedRelationship>
      <autoTerminatedRelationship>Response</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>c50f972d-0182-1000-fa1d-ae3f3750c9de</id>
      <name>PutFile</name>
      <position x="-288.0" y="8.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.PutFile</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>Directory</name>
        <value>data</value>
      </property>
      <property>
        <name>Conflict Resolution Strategy</name>
        <value>replace</value>
      </property>
      <property>
        <name>Create Missing Directories</name>
        <value>true</value>
      </property>
      <property>
        <name>Maximum File Count</name>
      </property>
      <property>
        <name>Last Modified Time</name>
      </property>
      <property>
        <name>Permissions</name>
      </property>
      <property>
        <name>Owner</name>
      </property>
      <property>
        <name>Group</name>
      </property>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>c44ba398-0182-1000-4e93-176b3a605334</id>
      <versionedComponentId>93cb44bc-caf1-323a-9d13-0288c9e67190</versionedComponentId>
      <name>PutFile</name>
      <position x="-1560.0" y="-640.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.PutFile</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>Directory</name>
        <value>data</value>
      </property>
      <property>
        <name>Conflict Resolution Strategy</name>
        <value>replace</value>
      </property>
      <property>
        <name>Create Missing Directories</name>
        <value>true</value>
      </property>
      <property>
        <name>Maximum File Count</name>
      </property>
      <property>
        <name>Last Modified Time</name>
      </property>
      <property>
        <name>Permissions</name>
      </property>
      <property>
        <name>Owner</name>
      </property>
      <property>
        <name>Group</name>
      </property>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <processor>
      <id>c50f972e-0182-1000-eb1e-88356f7d6037</id>
      <name>ReplaceText</name>
      <position x="-288.0" y="-216.0"/>
      <styles/>
      <comment/>
      <class>org.apache.nifi.processors.standard.ReplaceText</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-standard-nar</artifact>
        <version>1.17.0</version>
      </bundle>
      <maxConcurrentTasks>1</maxConcurrentTasks>
      <schedulingPeriod>0 sec</schedulingPeriod>
      <penalizationPeriod>30 sec</penalizationPeriod>
      <yieldPeriod>1 sec</yieldPeriod>
      <bulletinLevel>WARN</bulletinLevel>
      <lossTolerant>false</lossTolerant>
      <scheduledState>STOPPED</scheduledState>
      <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
      <executionNode>ALL</executionNode>
      <runDurationNanos>0</runDurationNanos>
      <retryCount>10</retryCount>
      <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
      <maxBackoffPeriod>10 mins</maxBackoffPeriod>
      <property>
        <name>Regular Expression</name>
        <value>^(.*)$</value>
      </property>
      <property>
        <name>Replacement Value</name>
        <value>{}</value>
      </property>
      <property>
        <name>Character Set</name>
        <value>UTF-8</value>
      </property>
      <property>
        <name>Maximum Buffer Size</name>
        <value>1 MB</value>
      </property>
      <property>
        <name>Replacement Strategy</name>
        <value>Always Replace</value>
      </property>
      <property>
        <name>Evaluation Mode</name>
        <value>Entire text</value>
      </property>
      <property>
        <name>Line-by-Line Evaluation Mode</name>
        <value>First-Line</value>
      </property>
      <autoTerminatedRelationship>failure</autoTerminatedRelationship>
    </processor>
    <processGroup>
      <id>c510983a-0182-1000-cab1-8fe10cd9d167</id>
      <name>Airflow-NiFi</name>
      <position x="-904.0" y="-704.0"/>
      <comment/>
      <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
      <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
      <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
      <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
      <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
    </processGroup>
    <processGroup>
      <id>a5213d6a-0182-1000-091a-98900d15b447</id>
      <versionedComponentId>49643328-9a90-3fd1-b489-6a7151f30ad8</versionedComponentId>
      <name>Sample1</name>
      <position x="1056.0" y="576.0"/>
      <comment/>
      <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
      <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
      <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
      <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
      <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
      <processor>
        <id>875d0d9c-0182-1000-08bf-5e776cf484bd</id>
        <versionedComponentId>fe3f788e-c698-333b-a6c3-49fca583c2cb</versionedComponentId>
        <name>UpdateAttribute</name>
        <position x="528.0" y="80.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-update-attribute-nar</artifact>
          <version>1.17.0</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>STOPPED</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <retryCount>10</retryCount>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <property>
          <name>Delete Attributes Expression</name>
        </property>
        <property>
          <name>Store State</name>
          <value>Do not store state</value>
        </property>
        <property>
          <name>Stateful Variables Initial Value</name>
        </property>
        <property>
          <name>canonical-value-lookup-cache-size</name>
          <value>100</value>
        </property>
        <property>
          <name>schema.name</name>
          <value>names</value>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>87aecd82-0182-1000-6313-8f358cb0a18f</id>
        <versionedComponentId>813b8ae1-6c10-36aa-b04f-5c89c4de2843</versionedComponentId>
        <name>GetFile</name>
        <position x="528.0" y="-176.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.GetFile</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.17.0</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>60 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>STOPPED</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>PRIMARY</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <retryCount>10</retryCount>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <property>
          <name>Input Directory</name>
          <value>/</value>
        </property>
        <property>
          <name>File Filter</name>
          <value>names.csv</value>
        </property>
        <property>
          <name>Path Filter</name>
        </property>
        <property>
          <name>Batch Size</name>
          <value>10</value>
        </property>
        <property>
          <name>Keep Source File</name>
          <value>true</value>
        </property>
        <property>
          <name>Recurse Subdirectories</name>
          <value>true</value>
        </property>
        <property>
          <name>Polling Interval</name>
          <value>0 sec</value>
        </property>
        <property>
          <name>Ignore Hidden Files</name>
          <value>true</value>
        </property>
        <property>
          <name>Minimum File Age</name>
          <value>0 sec</value>
        </property>
        <property>
          <name>Maximum File Age</name>
        </property>
        <property>
          <name>Minimum File Size</name>
          <value>0 B</value>
        </property>
        <property>
          <name>Maximum File Size</name>
        </property>
      </processor>
      <connection>
        <id>87c00dba-0182-1000-6323-babafc68ecb3</id>
        <versionedComponentId>fc69e2ae-bd3a-3caa-8d62-3f829e71277f</versionedComponentId>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>87aecd82-0182-1000-6313-8f358cb0a18f</sourceId>
        <sourceGroupId>a5213d6a-0182-1000-091a-98900d15b447</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>875d0d9c-0182-1000-08bf-5e776cf484bd</destinationId>
        <destinationGroupId>a5213d6a-0182-1000-091a-98900d15b447</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
    </processGroup>
    <connection>
      <id>c50d50da-0182-1000-5645-f9e9da7fa186</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>c4786594-0182-1000-50b4-3c8ac74306f1</sourceId>
      <sourceGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>c426da00-0182-1000-4d5a-cfb6af13c82d</destinationId>
      <destinationGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>1</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>c50d0764-0182-1000-f721-12e1b79a0965</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>c4f96358-0182-1000-de80-f3bc74304af7</sourceId>
      <sourceGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>c4786594-0182-1000-50b4-3c8ac74306f1</destinationId>
      <destinationGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>1</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>c44c0122-0182-1000-9936-995f8928155c</id>
      <versionedComponentId>e471ecad-b9bb-3f9c-a18b-0898fe67bbb7</versionedComponentId>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>c44ba398-0182-1000-4e93-176b3a605334</sourceId>
      <sourceGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>a6ebec3a-0182-1000-ea0e-b97a3309bd2f</destinationId>
      <destinationGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>c50f9730-0182-1000-5672-1151796f41b4</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>c50f972b-0182-1000-41ec-aba4b95938a1</sourceId>
      <sourceGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>c50f972e-0182-1000-eb1e-88356f7d6037</destinationId>
      <destinationGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>1</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>a6e5fd7e-0182-1000-b804-17cd08019cd2</id>
      <versionedComponentId>50fab85a-2c1e-3d58-9a81-ca0f0d01d8b7</versionedComponentId>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>a6d9e02c-0182-1000-569b-9ebb130eb6eb</sourceId>
      <sourceGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>a6e5e0fd-0182-1000-72c7-36cae6d4d81a</destinationId>
      <destinationGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>1</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>c50cb6a2-0182-1000-16d0-08c5cbd9116a</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>a521f590-0182-1000-809d-fa7bc10d35d5</sourceId>
      <sourceGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>c4f96358-0182-1000-de80-f3bc74304af7</destinationId>
      <destinationGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>1</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>a6a04335-0182-1000-ae03-55af1a0f19a2</id>
      <versionedComponentId>e4b03642-8836-346c-8c95-ff331971bbd6</versionedComponentId>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>a6a04333-0182-1000-07d5-2c79652c234d</sourceId>
      <sourceGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>a6a04334-0182-1000-ba09-63d242e172c1</destinationId>
      <destinationGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>Original</relationship>
      <relationship>Failure</relationship>
      <relationship>Retry</relationship>
      <relationship>No Retry</relationship>
      <relationship>Response</relationship>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>c44bd7bf-0182-1000-ccc2-dfec0bbcdea7</id>
      <versionedComponentId>55ed53dc-fe37-3e4b-b1b5-aea3c2cf0651</versionedComponentId>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>a6ebbf3e-0182-1000-fbd0-425007d5dcea</sourceId>
      <sourceGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>c44ba398-0182-1000-4e93-176b3a605334</destinationId>
      <destinationGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>10000</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>c50f972f-0182-1000-4f9b-1e103cb3ac3b</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>c50f972a-0182-1000-bae4-b45b77a28013</sourceId>
      <sourceGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>c50f972b-0182-1000-41ec-aba4b95938a1</destinationId>
      <destinationGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>Response</relationship>
      <maxWorkQueueSize>1</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>c50c6a3d-0182-1000-02f3-bec52b2f16dc</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>a521714d-0182-1000-5cc2-7aafb9c5afda</sourceId>
      <sourceGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>a521f590-0182-1000-809d-fa7bc10d35d5</destinationId>
      <destinationGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>Response</relationship>
      <maxWorkQueueSize>1</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>c50f9731-0182-1000-f403-6a945ea691b3</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>c50f972e-0182-1000-eb1e-88356f7d6037</sourceId>
      <sourceGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>c50f972d-0182-1000-fa1d-ae3f3750c9de</destinationId>
      <destinationGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>1</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <connection>
      <id>c50f9732-0182-1000-e926-5886b44ba6f6</id>
      <name/>
      <bendPoints/>
      <labelIndex>1</labelIndex>
      <zIndex>0</zIndex>
      <sourceId>c50f972d-0182-1000-fa1d-ae3f3750c9de</sourceId>
      <sourceGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</sourceGroupId>
      <sourceType>PROCESSOR</sourceType>
      <destinationId>c50f972c-0182-1000-969d-790e7c633ffc</destinationId>
      <destinationGroupId>82c0749c-0182-1000-1c6b-68a78ee7ab4a</destinationGroupId>
      <destinationType>PROCESSOR</destinationType>
      <relationship>success</relationship>
      <maxWorkQueueSize>1</maxWorkQueueSize>
      <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
      <partitioningAttribute/>
      <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    </connection>
    <template encoding-version="1.3">
    <description>Receives data from api end point by making a GET request, save received data on the disk and inform Airflow on successful completion by making a POST request and triggering DAG.</description>
    <id>7ff4d86b-6702-49e9-97af-2569e05d73fa</id>
    <name>Process and call to Airflow </name>
    <snippet>
        <processors>
            <id>1d7e4a9c-be73-38d3-0000-000000000000</id>
            <parentGroupId>2315cad6-8d4c-3fc6-0000-000000000000</parentGroupId>
            <position>
                <x>496.0</x>
                <y>712.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>data</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <deprecated>false</deprecated>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <restricted>true</restricted>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>679d1e06-9994-35a2-0000-000000000000</id>
            <parentGroupId>2315cad6-8d4c-3fc6-0000-000000000000</parentGroupId>
            <position>
                <x>496.0</x>
                <y>224.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>data</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <deprecated>false</deprecated>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <restricted>true</restricted>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>840cff6c-420a-33a8-0000-000000000000</id>
            <parentGroupId>2315cad6-8d4c-3fc6-0000-000000000000</parentGroupId>
            <position>
                <x>496.0</x>
                <y>488.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>
                            <name>Line-by-Line Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>^(.*)$</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>{}</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Always Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>First-Line</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <deprecated>false</deprecated>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ReplaceText</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <restricted>false</restricted>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>a67d7b0d-8ac3-3f2a-0000-000000000000</id>
            <parentGroupId>2315cad6-8d4c-3fc6-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>712.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>
                            <name>disable-http2</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>
                            <name>idle-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>
                            <name>max-idle-connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
                            <name>oauth2-access-token-provider</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <dependencies>
<propertyName>Basic Authentication Username</propertyName>
                            </dependencies>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>send-message-body</propertyName>
                            </dependencies>
                            <name>form-body-form-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>
                            <dependencies>
<propertyName>form-body-form-name</propertyName>
                            </dependencies>
                            <name>set-form-filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                        <value>
                            <name>Useragent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <dependencies>
<propertyName>Put Response Body In Attribute</propertyName>
                            </dependencies>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>
                            <name>ignore-response-content</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>use-etag</propertyName>
                            </dependencies>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>
                            <name>cookie-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>
                            <name>flow-file-naming-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Authorization</key>
                        <value>
                            <name>Authorization</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>POST</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>http://localhost:8084/api/v1/dags/api_dag/dagRuns</value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>5 mins</value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>DISABLED</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>DISABLED</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>RANDOM</value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Authorization</key>
                        <value>Basic </value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <deprecated>false</deprecated>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>InvokeHTTP</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>No Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Response</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <restricted>false</restricted>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
            <id>c28f1977-bff3-3a4d-0000-000000000000</id>
            <parentGroupId>2315cad6-8d4c-3fc6-0000-000000000000</parentGroupId>
            <position>
                <x>480.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>
                            <name>disable-http2</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>
                            <name>idle-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>
                            <name>max-idle-connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
                            <name>oauth2-access-token-provider</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <dependencies>
<propertyName>Basic Authentication Username</propertyName>
                            </dependencies>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>send-message-body</propertyName>
                            </dependencies>
                            <name>form-body-form-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>
                            <dependencies>
<propertyName>form-body-form-name</propertyName>
                            </dependencies>
                            <name>set-form-filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                        <value>
                            <name>Useragent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <dependencies>
<propertyName>Put Response Body In Attribute</propertyName>
                            </dependencies>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>
                            <name>ignore-response-content</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>use-etag</propertyName>
                            </dependencies>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>
                            <name>cookie-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>
                            <name>flow-file-naming-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime.type</key>
                        <value>
                            <name>mime.type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>GET</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>http://gorest.co.in/public/v2/posts</value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>5 mins</value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>DISABLED</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>${mime.type}</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>DISABLED</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>RANDOM</value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>mime.type</key>
                        <value>application/json</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>60 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <deprecated>false</deprecated>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetDataFromApi</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>No Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <restricted>false</restricted>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
    </snippet>
    <timestamp>08/22/2022 16:00:29 IST</timestamp>
</template>
  </rootGroup>
  <controllerServices/>
  <reportingTasks/>
</flowController>
